<section class="song-details" *ngIf="song">
  <div class="container">
    <h2>{{ song.title }}</h2>
    <h3>{{ song.artist }}</h3>
  </div>
</section>

<section class="tag-list" *ngIf="tags">
  <div class="btn-toolbar">
    <div class="btn-group" *ngFor="let tag of upvotedTags">
      <button class="btn btn-info btn-sm" on-click="viewDetails(tag.tag)">
        {{ tag.tag.name }}
      </button>
      <p class="vote-total">{{ tag.score }}</p>
      <p><i class="glyphicon glyphicon-ok voted float-left" on-click="upvote(tag)"></i>
      <i class="glyphicon glyphicon-remove" on-click="downvote(tag)"></i></p>
    </div>
    <div class="btn-group" *ngFor="let tag of downvotedTags">
      <button class="btn btn-info btn-sm" on-click="viewDetails(tag.tag)">
        {{ tag.tag.name }}
      </button>
      <p class="vote-total">{{ tag.score }}</p>
      <p><i class="glyphicon glyphicon-ok float-left" on-click="upvote(tag)"></i>
      <i class="glyphicon glyphicon-remove voted" on-click="downvote(tag)"></i></p>
    </div>
    <div class="btn-group" *ngFor="let tag of unvotedTags" on-click="viewDetails(tag.tag)">
      <button class="btn btn-info btn-sm">
        {{tag.tag.name}}
      </button>
      <p class="vote-total">{{ tag.score }}</p>
      <p><i class="glyphicon glyphicon-ok float-left" on-click="upvote(tag)"></i>
      <i class="glyphicon glyphicon-remove" on-click="downvote(tag)"></i></p>
    </div>
  </div>
</section>

<br />

<section>
  <button (click)="showHide = !showHide" class="btn btn-primary btn-md">Add a new Tag</button>
</section>

<section class="tag-song-form" *ngIf="showHide">
  <form>
    <div class="input-group input-group-lg">
      <label for="new-tag" class="sr-only">Tag</label>
      <input type="text" id="new-tag" name="new-tag"
        placeholder="type here" class="form-control input-lg" bindon-ngModel="keywords"
        on-ngModelChange="search($event)">
      <span class="input-group-btn" *ngIf="keywords">
        <input type="submit" value="Create Tag" class="btn btn-primary btn-lg" on-click="addTag(keywords)">
      </span>
    </div>
  </form>
</section>
<section class="tag-song-results">
  <h2 class="h4">Tag Results</h2>
  <ol class="list-group">
    <li *ngFor="let tag of newTags" class="list-group-item clearfix">
      <h2> {{ tag.name }} </h2>
      <input type="submit" value="Tag Song" class="btn btn-primary btn-md" on-click="addTagging(tag, song)">
    </li>
  </ol>
</section>
