<header>
  <h1>Welcome to Song For That, <%= current_user.username %>!</h1>
</header>
<section>
  <asft-new-search>Just a moment...</asft-new-search>
  <%= javascript_pack_tag "new_search" %>
  <br />
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>
