<header>
  <h1>Welcome to Song For That, <%= current_user.username %>!</h1>
</header>
<section>
  <asft-search-app>Just a moment...</asft-search-app>
  <%= javascript_pack_tag "new_search" %>
</section>
