<header>
<h1 class="h2">New Search</h1>
</header>
<section class="search-form">
  <form>
    <div class="input-group input-group-lg">
      <label for="keywords" class="sr-only">Keywords</label>
      <input type="text" id="keywords" name="keywords"
        placeholder="Title, Artist, or Tag" class="form-control input-lg" bindon-ngModel="keywords"
        on-ngModelChange="search($event)">
      <span class="input-group-btn">
        <input type="submit" value="Find" class="btn btn-primary btn-lg" on-click="search()">
      </span>
    </div>
  </form>
</section>
<section class="search-results">
  <h2 class="h4">Tag Results</h2>
  <div class="btn-toolbar">
    <button *ngFor="let tag of tags" class="btn btn-info btn-sm" on-click="viewDetails(tag)"> {{ tag.name }} </button>
  </div>
  <h2 class="h4">Song Results</h2>
  <ol class="list-group">
      <li *ngFor="let song of songs" class="list-group-item clearfix">
        <h2> {{ song.title }} </h2>
        <div class="pull-right">
          <button class="btn btn-small btn-primary" on-click="viewDetails(song)">
            View Details...
          </button>
        </div>
        <h3> {{ song.artist }} </h3>
      </li>
  </ol>
</section>
