<h2>
  <%= "#{@user.username}" %>
</h2>

<span>
  <p>Tags created: <%= "#{@tag_total}" %>
</span>

<span>
  <p>You have tagged songs <%= "#{@tagging_total}" %> times.
</span>

<span>
  <p>And you have cast <%= "#{@votes_total}" %> votes.</p>
</span>
