<p id="notice"><%= notice %></p>

<section>
  <asft-song-search></asft-song-search>
</section>
<%= javascript_pack_tag "songs" %>
  <% if @songs.present? %>
    <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
  <% end %>

<%= link_to 'New Song', new_song_path %>
