<p id="notice"><%= notice %></p>

<section>
  <asft-tag-search></asft-tag-search>
</section>
<%= javascript_pack_tag "tags" %>
  <% if @tags.present? %>
    <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
  <% end %>

<%= link_to 'New Tag', new_tag_path %>
