// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag-heading {
  font-size: 9rem;
  color: #000066;
  text-align: center;
  text-transform: lowercase;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 30px;
}
