// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag-heading {
  font-size: 10vw;
  color: #000066;
  text-align: center;
  text-transform: lowercase;
  border: 6px outset;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.btn-group p {
  float: left;
  background-color: #5BC0DE;
  padding-left: 2px;
  padding-right: 2px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.btn-group p i {
  cursor: pointer;
  vertical-align: top;
  opacity: 0.3;
  margin-top: 2px;
  color: #28A745;
}

.btn-group p :last-child {
  display: block;
  padding-bottom: 1px;
  margin-top: -2px;
  color: #D9534F;
}

.btn-group p i:hover {
  opacity: 0.8;
}

.btn-group p i:active {
  opacity: 1;
}
